# sqlite
# adapter: sqlite3
# database: test_db
# host: localhost

# postgresql
#
# adapter: postgresql
# encoding: unicode
# database: test_postgres_db
# pool: 5
# username: postgres_user
# password: password
